{% extends "layout.html" %}
{% block content %}
    {% for game in games %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ game.category }}</a>
              <small class="text-muted">{{ game.developer }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ game.title }}</a></h2>
            <p class="article-content">{{ game.rate }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}

